<ion-content [fullscreen]="true">
  <div class="background">
    <div class="back-button-container">
      <ion-button (click)="onBackClick()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="users-container">
      <div>
        <h1>Pedidos solicitados</h1>
      </div>
      <div class="users">
        <div class="user-container" *ngFor="let pedido of this.pagos">
          <div>
            <i class="bi bi-person-circle"></i>
            <span>Numero de mesa: {{pedido.numeroMesa}}</span>
            <br />
            <span>${{pedido.precioTotal}}</span>
            <button type="button" (click)="onAcceptClick(pedido)" class="btn">
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
