<ion-content [fullscreen]="true">
  <ion-fab class="fabAtras" (click)="goMenu()" slot="fixed" vertical="top" horizontal="start">
    <ion-icon size="large" name="arrow-back-outline"></ion-icon>
  </ion-fab>
  <div class="contenedorImg">
    <img src="../../../assets/img/splashanimated.png" alt="User" />
  </div>
  <h1>Ingresar</h1>
  <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="labelParrafo">Correo electronico</p>
    <ion-item color="secondary">
      <ion-input type="email" placeholder="Ingrese su correo electronico" formControlName="email"></ion-input>
    </ion-item>

    <!-- Estas validaciones son agregadas por Javier -->
    <p class="error-message" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">El correo es
      obligatorio.</p>
    <p class="error-message" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">Ingrese un
      correo válido.</p>
    <!-- -->


    <p class="labelParrafo">Contraseña</p>
    <ion-item color="secondary">
      <ion-input type="password" placeholder="Ingrese su contraseña" formControlName="password"></ion-input>
    </ion-item>


    <!-- Estas validaciones son agregadas por Javier -->
    <p class="error-message" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">La
      contraseña es obligatoria.</p>
    <!-- -->

    <ion-button color="secondary" type="submit" expand="block" shape="round">Ingresar</ion-button>
    <ion-toast color="danger" [isOpen]="isToastOpen" message="contraseña o correo incorrecto" [duration]="3000"
      (didDismiss)="setOpen(false)"></ion-toast>
  </form>
  <p class="terminos">
    Precione el boton Ingresar para aceptar <br />
    nuestros terminos y condiciones.
  </p>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="userA()"> A </ion-fab-button>
      <ion-fab-button color="primary" (click)="userB()"> B </ion-fab-button>
      <ion-fab-button color="primary" (click)="userC()"> C </ion-fab-button>
      <ion-fab-button color="primary" (click)="userD()"> D </ion-fab-button>
      <!--Agregué estos botones extras-->
      <ion-fab-button color="primary" (click)="userE()"> E </ion-fab-button>
      <ion-fab-button color="primary" (click)="userF()"> F </ion-fab-button>
      <ion-fab-button color="primary" (click)="userG()"> G </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>