ion-content {
  --background: #19101e;
  font-weight: 100;

  ion-icon {
    margin-top: 10px;
    margin-left: 10px;
  }

  h1 {
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin-bottom: 5%;
    margin-top: 10%;
    text-align: center;
  }

  #form {
    padding-left: 30px;
    padding-right: 30px;

    ion-item {
      //   height: 75px;

      margin-bottom: 20px;
      --border-radius: 20px;
      ion-select {
        font-size: 30px;
      }
      ion-input {
        font-size: 27px;
      }
      ion-textarea {
        font-size: 27px;
      }
    }

    .btnFoto {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      ion-button {
        font-size: 25px;
        width: 80%;

        ion-icon {
          margin: 0;
          padding: 0;
          margin-left: 10px;
        }
      }
    }

    .btnRegistrar {
      // height: 65px;
      font-size: 30px;
      --padding-top: 0px;
      --padding-bottom: 0px;
      margin-top: 10px;
    }
  }

  .terminos {
    text-align: center;
    color: #b6b6b6;
    margin-top: 40px;
  }

  .labelParrafo {
    margin: 5px;
    padding: 0;
    color: #b6b6b6;
  }
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
  margin-left: 0.5em;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.contenerBotonColor {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .botonColor {
    color: white;
    border-radius: 100%;
    background-color: #7a0c0f;
    width: 60px;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botonColorCorrecto {
    background-color: #32612d;
  }
}
