<!-- encuesta.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon
        (click)="onBackClick()"
        size="large"
        name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>
    <ion-title>Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="blocks" style="flex: 1">
      <form [formGroup]="form" (ngSubmit)="submitEncuesta()">
        <!-- Servicio -->
        <div class="campo">
          <ion-label
            >¿Cuantas estrellas le darías al servicio recibido del 1 al
            5?</ion-label
          >
          <ion-range
            [min]="1"
            [max]="5"
            [value]="1"
            [pin]="true"
            [ticks]="true"
            [snaps]="true"
            formControlName="servicio"
          >
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-icon slot="end" name="star-outline"></ion-icon>
          </ion-range>
        </div>

        <!-- Comida -->
        <div class="campo">
          <ion-label
            >¿Cuantas estrellas le darías a la comida del 1 al 5?</ion-label
          >
          <ion-range
            [min]="1"
            [max]="5"
            [value]="1"
            [pin]="true"
            [ticks]="true"
            [snaps]="true"
            formControlName="comida"
          >
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-icon slot="end" name="star-outline"></ion-icon>
          </ion-range>
        </div>

        <!-- Puntaje Precio -->
        <div class="campo">
          <ion-label
            >¿Cuantas estrellas le darias a nuestro local en relacion
            calidad-precio?</ion-label
          >
          <ion-range
            [min]="1"
            [max]="5"
            [value]="1"
            [pin]="true"
            [ticks]="true"
            [snaps]="true"
            formControlName="precio"
          >
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-icon slot="end" name="star-outline"></ion-icon>
          </ion-range>
        </div>

        <!-- Reseña -->
        <div class="campo">
          <ion-label
            >¿Podrías contarnos brevemente tu experiencia en el
            local?</ion-label
          >
          <ion-textarea
            class="textarea"
            formControlName="resenia"
            rows="4"
          ></ion-textarea>
        </div>

        <ion-button
          class="submit"
          expand="full"
          type="submit"
          [disabled]="form.invalid"
          expand="block"
          fill="clear"
          shape="round"
          >Enviar Encuesta</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
