ion-content {
  --background: #19101e;

  ion-icon {
    margin-top: 10px;
    margin-left: 10px;
  }

  h1 {
    font-weight: 700;
    font-size: 26px;
    color: white;
    margin-bottom: 5%;
    margin-top: 10%;
    text-align: center;
  }

  #form {
    padding-left: 30px;
    padding-right: 30px;
    ion-item {
      height: 75px;
      --border-radius: 20px;

      ion-input {
        font-size: 20px;
      }
    }
    .btnScanFoto {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      ion-button {
        font-size: 15px;
        width: 50%;
        ion-icon {
          margin: 0;
          padding: 0;
          margin-left: 10px;
        }
      }
    }
    .btnRegistrar {
      // height: 65px;
      font-size: 22px;
      --padding-top: 0px;
      --padding-bottom: 0px;
      margin-top: 10px;
    }
  }

  .terminos {
    text-align: center;
    color: #b6b6b6;
    margin-top: 40px;
  }

  .labelParrafo {
    margin: 5px;
    padding: 0;
    color: #b6b6b6;
  }
}
