<ion-content [fullscreen]="true">
  <ion-fab (click)="goLogin()" slot="fixed" vertical="top" horizontal="start">
    <ion-icon size="large" name="arrow-back-outline"></ion-icon>
  </ion-fab>
  <div class="contenedorBlanco">
    <h1>Registra una cuenta</h1>
    <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Tipo -->
      <ion-item color="secondary">
        <ion-select formControlName="tipo" placeholder="Seleccione Tipo">
          <ion-select-option value="anonimo">Anonimo</ion-select-option>
          <ion-select-option value="registrado">Registrado</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Correo Electronico -->
      @if(!(form.getRawValue().tipo == "anonimo")){
      <ion-item color="secondary">
        <ion-input
          type="email"
          placeholder="Ingrese su correo electronico"
          formControlName="mail"
        ></ion-input>
      </ion-item>
      }
      <!-- Estas validaciones son agregadas por Javier -->
      <p
        class="error-message"
        *ngIf="form.get('mail')?.touched && form.get('mail')?.hasError('required')"
      >
        El correo es obligatorio.
      </p>
      <p
        class="error-message"
        *ngIf="form.get('mail')?.touched && form.get('mail')?.hasError('email')"
      >
        Ingrese un correo válido.
      </p>
      <!-- Nombre -->
      <ion-item color="secondary">
        <ion-input
          type="text"
          placeholder="Ingrese su Nombre"
          formControlName="nombre"
        ></ion-input>
      </ion-item>
      <!-- Estas validaciones son agregadas por Javier -->
      <p
        class="error-message"
        *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')"
      >
        El nombre es obligatorio.
      </p>
      <p
        class="error-message"
        *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('pattern')"
      >
        Nombre inválido. Solo letras y espacios.
      </p>
      @if(!(form.getRawValue().tipo == "anonimo")){
      <!-- Apellido -->
      <ion-item color="secondary">
        <ion-input
          type="text"
          placeholder="Ingrese su Apellido"
          formControlName="apellido"
        ></ion-input>
      </ion-item>

      <!-- Estas validaciones son agregadas por Javier -->
      <p
        class="error-message"
        *ngIf="form.get('apellido')?.touched && form.get('apellido')?.hasError('required')"
      >
        El apellido es obligatorio.
      </p>
      <p
        class="error-message"
        *ngIf="form.get('apellido')?.touched && form.get('apellido')?.hasError('pattern')"
      >
        Apellido inválido. Solo letras y espacios.
      </p>

      <!-- Dni -->
      <ion-item color="secondary">
        <ion-input
          type="number"
          placeholder="Ingrese su DNI"
          formControlName="DNI"
        ></ion-input>
      </ion-item>
      }
      <!-- Estas validaciones son agregadas por Javier -->
      <p
        class="error-message"
        *ngIf="form.get('DNI')?.touched && form.get('DNI')?.hasError('required')"
      >
        El DNI es obligatorio.
      </p>
      <p
        class="error-message"
        *ngIf="form.get('DNI')?.touched && form.get('DNI')?.hasError('pattern')"
      >
        El DNI debe tener 8 dígitos numéricos.
      </p>
      <!-- Contraseña -->
      @if(!(form.getRawValue().tipo == "anonimo")){
      <ion-item color="secondary">
        <ion-input
          type="password"
          placeholder="Ingrese su contraseña"
          formControlName="password"
        ></ion-input>
      </ion-item>
      }
      <!-- Confirmacion Contraseña -->
      @if(!(form.getRawValue().tipo == "anonimo")){
      <ion-item color="secondary">
        <ion-input
          type="password"
          placeholder="Repita su Contraseña"
          formControlName="confirmpassword"
        ></ion-input>
      </ion-item>
      }
      <!-- Estas validaciones son agregadas por Javier -->
      <p
        class="error-message"
        *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"
      >
        La contraseña es obligatoria.
      </p>
      <!-- Estas validaciones son agregadas por Javier -->
      <p
        class="error-message"
        *ngIf="form.get('confirmpassword')?.touched && form.get('confirmpassword')?.hasError('required')"
      >
        La Confirmacion es obligatoria.
      </p>
      <div
        [ngClass]="{
        'btnFoto': form.getRawValue().tipo == 'anonimo',
        'btnScanFoto': !(form.getRawValue().tipo == 'anonimo'),
      }"
      >
        <!-- Foto -->
        <ion-button color="primary" (click)="takePhoto()" expand="full"
          >Tomar Foto</ion-button
        >

        @if(!(form.getRawValue().tipo == "anonimo")){
        <!-- Scan Dni -->
        <ion-button color="primary" (click)="startScan()" expand="full">
          Escanear DNI
          <ion-icon slot="end" name="scan-outline"></ion-icon>
        </ion-button>
        }
      </div>
      <!-- Boton -->
      <ion-button
        class="btnRegistrar"
        color="secondary"
        type="submit"
        expand="block"
        >Registrar</ion-button
      >
    </form>
    <p class="terminos">
      Precione el boton registrar para aceptar <br />
      nuestros terminos y condiciones.
    </p>
  </div>
</ion-content>
