<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon
        (click)="volver()"
        size="large"
        name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>
    <ion-title>Validar usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Icono -->
  <ion-fab (click)="volver()" slot="fixed" vertical="top" horizontal="start">
  </ion-fab>
  <!-- Lista Usuarios Pendientes -->
  <div class="users">
    <div
      class="user-container"
      (click)="onUserClick(user.mail)"
      *ngFor="let user of this.usersNotAccepted"
    >
      <div>
        <span>{{user.mail}}</span>
      </div>
    </div>
  </div>
</ion-content>
