ion-content {
  --background: #19101e;
  font-size: 30px;
  ion-text {
    text-align: center;
  }
  .users {
    padding: 20px;
    height: 90%;
    overflow-y: scroll;
    .user-container {
      border-radius: 0 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #f67609;
      margin-bottom: 10px;
      border-bottom: #7a0c0f 5px solid;
      i {
        margin: 0px 10px;
        padding: 10px;
        border-radius: 8px;
      }
      h1 {
        text-align: center;
        background-color: #461514;
        padding: 10px;
        border-radius: 20px 20px 20px 0px;
      }
    }
  }
  .textoAsignarMesa {
    ion-text {
      h2 {
        font-size: 40px;
      }
    }
  }
}

.textoMesaNumero {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f67809;
  border-radius: 3rem;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.contenedorBtn {
  .textoPedidoEstado {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f67809;
    border-radius: 3rem;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }
}

.listaPedidos {
  text-decoration: none;
}
.btnMesaMozo {
  height: 80px;
  font-size: 30px;
}

ion-button {
  height: 80px;
  font-size: 30px;
  margin: 15px 10px;
}
