<!-- Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon
        (click)="atras()"
        size="large"
        name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Contenido Principal -->
<ion-content>
  @defer () {
  <!-- Si es Maitre -->
  <ng-container *ngIf="!isClientProfile; else clientView">
    <!-- Listado usuarios sin asignar mesa-->
    @if(!usuarioAsignar){
    <ion-text color="white">
      <h2>Seleccione un cliente:</h2>
    </ion-text>
    <div class="users">
      <div
        class="user-container"
        (click)="onUserClick(user.mail)"
        *ngFor="let user of this.usuariosSinMesa"
      >
        <div>
          <span>{{user.nombre}}</span>
        </div>
      </div>
    </div>
    } @else{
    <!-- Listado Mesas -->
    <ion-text color="white">
      <h2>Seleccione una mesa</h2>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let number of numbers">
          <ion-button
            color="secondary"
            expand="block"
            (click)="asignarNumeroMesa(number)"
            [disabled]="estaAsignada(number)"
            style="font-size: 30px; font-weight: bold"
          >
            Mesa {{ number }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    }
    <!-- Texto Mesa -->
    @if(qrCodeImageUrl){
    <div class="textoAsignarMesa">
      <ion-text color="white">
        <h2>Mesa asignada numero:</h2>
      </ion-text>
      <ion-text color="white">
        <h2
          style="
            font-size: 150px;
            font-weight: bold;
            text-align: center;
            display: block;
            font-family: 'Times New Roman', Times, serif;
          "
        >
          {{ numeroMesaMaitre }}
        </h2>
      </ion-text>
    </div>
    }
  </ng-container>
  <!-- Si es Cliente -->
  <ng-template #clientView>
    <div *ngIf="!yaEscaneada">
      <ion-button
        class="submit btnMesaMozo"
        (click)="startScan()"
        expand="block"
      >
        Escanear Mesa
        <ion-icon slot="end" name="scan-outline"></ion-icon>
      </ion-button>
      @if(usuarioActual != null){
      <ion-button class="submit btnMesaMozo" (click)="goChat()" expand="block">
        Consultar Mozo
      </ion-button>
      }
    </div>
    <div *ngIf="yaEscaneada">
      <div *ngIf="mesaYaAsignada; else notAssigned"></div>
      <ng-template #notAssigned>
        <div class="textoMesaNumero">
          <ion-text
            >Su mesa es la numero: <span>{{ mesaAsignada }} </span></ion-text
          >
        </div>
        @if(usuarioActual != null){
        <ion-button
          class="submit btnMesaMozo"
          (click)="goChat()"
          expand="block"
        >
          Consultar Mozo
        </ion-button>
        } @if(usuarioActual?.perfil == "cliente" && usuarioActual?.listaDeEspera
        == true && usuarioActual?.mesaAsignada != 0){
        <ion-button
          expand="block"
          *ngIf="(pedidos$ | async)?.length === 0"
          (click)="goMenu()"
          >Ir al Menú</ion-button
        >
        }
        <div *ngIf="pedidos$ | async as pedidos;">
          @for (pedido of pedidos; track $index) {
          <div class="contenedorBtn">
            @if(pedido.cliente == usuarioActual?.mail && pedido.estadoPedido ==
            "pendiente"){
            <div class="textoPedidoEstado">
              <p>
                Tu pedido está: <span>{{ pedido.estadoPedido | estado }}</span>
              </p>
            </div>
            } @else if(pedido.cliente == usuarioActual?.mail &&
            pedido.estadoPedido == "enProceso"){
            <div class="textoPedidoEstado">
              <p>
                Tu pedido está: <span>{{ pedido.estadoPedido | estado }}</span>
              </p>
            </div>
            @if(usuarioActual?.estadoEncuesta === false){
            <ion-button expand="block" (click)="goEncuesta()">
              Ir a Escuesta
            </ion-button>
            } @else {
            <ion-button expand="block" (click)="goGraficos()">
              Encuestas Previas
            </ion-button>
            } } @else if(pedido.estadoPedido == "preparado"){
            <div class="textoPedidoEstado">
              <p>
                Tu pedido está: <span>{{ pedido.estadoPedido | estado }}</span>
              </p>
            </div>
            @if(usuarioActual?.estadoEncuesta === false){
            <ion-button expand="block" (click)="goEncuesta()">
              Ir a Escuesta
            </ion-button>
            } @else {
            <ion-button expand="block" (click)="goGraficos()">
              Ir a Escuesta
            </ion-button>
            } } @else if(pedido.estadoPedido == "entregado"){
            <!-- <ion-button (click)="confirmarRecepcion()">Confirmar Recepción</ion-button> -->
            <ion-button expand="block" (click)="cambiarEstadoPedido(pedido)">
              Confirmar Recepción
            </ion-button>
            } @else if(pedido.estadoPedido == "comiendo"){
            <div class="textoPedidoEstado">
              <p>
                Tu pedido está: <span>{{ pedido.estadoPedido | estado}}</span>
              </p>
            </div>
            @if(usuarioActual?.estadoEncuesta === false){
            <ion-button expand="block" (click)="goEncuesta()">
              Ir a Escuesta
            </ion-button>
            } @else {
            <ion-button expand="block" (click)="goGraficos()">
              Ir a Escuesta
            </ion-button>
            }
            <ion-button expand="full" (click)="goCuenta()">
              Pedir La Cuenta
            </ion-button>
            }
          </div>
          }
        </div>
      </ng-template>
    </div>
  </ng-template>
  } @placeholder {
  <ion-spinner class="spinner" color="danger"></ion-spinner>
  } @loading (minimum 2s) {
  <ion-spinner class="spinner" color="danger"></ion-spinner>
  }
</ion-content>
