<ion-content [fullscreen]="true">
  <ng-container *ngIf="!isClientProfile; else clientView">
    <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item color="primary" class="center-button">
        <ion-label style="
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            display: block;
          ">Asignar Mesa</ion-label>
      </ion-item>

      <!-- Listado usuarios sin asignar mesa (campo 0 )-->
      @if(!usuarioAsignar){
      <div class="users">
        <div class="user-container" (click)="onUserClick(user.mail)" *ngFor="let user of this.usuariosSinMesa">
          <div>
            <span>{{user.nombre}}</span>
          </div>
        </div>
      </div>
      }@else{
      <ion-item *ngIf="usuarioAsignar">
        <ion-grid>
          <ion-row>
            <ion-col size="12" *ngFor="let number of numbers">
              <ion-button expand="block" (click)="asignarNumeroMesa(number)" [disabled]="estaAsignada(number)" style="
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                    display: block;
                  ">
                Mesa {{ number }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      }
    </form>

    <!-- esto era para mostrar el qr creado por el maitre -->
    <!-- <div *ngIf="qrCodeImageUrl" class="qr-container">
      <ion-label>QR para ver tu numero de mesa asignado:</ion-label>
      <div class="qr-code-wrapper">
        <img [src]="qrCodeImageUrl" alt="QR Code" class="qr-code" />
      </div>
    </div> -->

    <div *ngIf="qrCodeImageUrl" class="qr-container">
      <ion-label style="
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          display: block;
        ">Mesa asignada numero:</ion-label>
      <div class="qr-code-wrapper" style="
      font-size: 150px;
      font-weight: bold;
      text-align: center;
      display: block;
      font-family: 'Arial', sans-serif; /* Puedes cambiar 'Arial' por cualquier fuente que prefieras */
      -webkit-font-smoothing: antialiased; /* Mejora la nitidez en navegadores basados en WebKit */
      -moz-osx-font-smoothing: grayscale; /* Mejora la nitidez en Firefox */
    ">
        {{ numeroMesaMaitre }}
      </div>
    </div>
  </ng-container>

  <ng-template #clientView>
    <ion-button class="submit" (click)="startScan()" expand="block">
      Escanear Mesa
      <ion-icon slot="end" name="scan-outline"></ion-icon>
    </ion-button>
    <!-- <h1>Mesa escaneada numero: </h1>
    <h1>{{scanResoult}}</h1> -->
    <div *ngIf="yaEscaneada">
      <div *ngIf="mesaYaAsignada; else notAssigned">
        <ion-text color="danger" style="
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            display: block;
          "><br /><br />
          Esta mesa la tiene asignada otro cliente, no la puede usar.
        </ion-text>
      </div>
      <ng-template #notAssigned>
        <ion-text style="
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            display: block;
          "><br /><br />
          Su mesa es la numero: <br /><br /><br /><br />
        </ion-text>
        <ion-text style="
            font-size: 150px;
            font-weight: bold;
            text-align: center;
            display: block;
          ">
          <!-- Su mesa es la numero {{scanResoult}} -->
          {{ mesaAsignada }}
        </ion-text>
      </ng-template>
    </div>
  </ng-template>

  <!-- <ion-item color="primary" class="center-button">
    <ion-button type="button" label="atras" (click)="atras()">Volver al Inicio</ion-button>
  </ion-item> -->
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-item color="primary" class="center-button">
      <ion-button type="button" label="atras" (click)="atras()">Volver al Inicio</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>