<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons (click)="goHome()" slot="start">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>ABM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Si es Mozo -->
  <ng-container *ngIf="isMozoProfile">
    <div *ngIf="pedidos$ | async as pedidos; else loading">
      <div class="listaPedidos">
        @for (pedido of pedidos; track $index) {
        <div class="pedido-container" (click)="cambiarEstadoPedido(pedido)">
          <div>
            <span
              >Numero de mesa: {{pedido.numeroMesa}} <br />
              Estado: {{pedido.estadoPedido}}</span
            >
          </div>
        </div>
        }
      </div>
      <!-- <ul>
        <li *ngFor="let pedido of pedidos">
          <div class="test">
            <p>ID: {{ pedido.id }}</p>
            <p>Cliente: {{ pedido.cliente }}</p>
            <p>Precio Total: {{ pedido.precioTotal | currency }}</p>
            <p>Tiempo Total Estimado: {{ pedido.tiempoTotalEstimado }} mins</p>
            <p>Estado: {{ pedido.estadoPedido }}</p>
            <p>Comidas:</p>
            <ul>
              <li *ngFor="let comida of pedido.comidas">
                <p>Cantidad: {{ comida.cantidad }}</p>
                <p>Descripción: {{ comida.descripcion }}</p>
                <p>Estado Comida: {{ comida.estadoComida }}</p>
                <img src="{{ comida.img }}" alt="Imagen de comida" />
                <p>Nombre: {{ comida.nombre }}</p>
                <p>Precio: {{ comida.precio | currency }}</p>
                <p>Tiempo Estimado: {{ comida.tiempoEstimado }}</p>
              </li>
            </ul>
          </div>
          @if(pedido.estadoPedido == "pendiente"){
          <button (click)="cambiarEstadoPedido(pedido)">
            Confirmar pedido
          </button>
          }@else if(pedido.estadoPedido == "preparado"){
          <button (click)="cambiarEstadoPedido(pedido)">Entregar pedido</button>
          }
        </li>
      </ul> -->
    </div>
    <ng-template #loading>
      <div class="contenedorLoading">
        <img src="../../../assets/img/loading.gif" alt="" />
      </div>
    </ng-template>
  </ng-container>

  <!-- Si es Bartender -->
  <ng-container *ngIf="isBartenderProfile">
    <div *ngIf="pedidos$ | async as pedidos; else loading">
      <div class="food-list">
        @for (pedido of pedidos; track $index) { @if(pedido.comidas){
        @for(comida of pedido.comidas; track $index) { @if(( comida.sector ==
        "bebida") && comida.estadoComida == 'enProceso') {
        <div class="card">
          <ion-img [src]="comida.img" [alt]="comida.nombre"></ion-img>
          <div class="card-content">
            <h3 class="title">{{comida.nombre}}</h3>
            <h3 class="subtitle">Cantidad: {{comida.cantidad}}</h3>
            <h3 class="subtitle">Estado: {{comida.estadoComida}}</h3>
            <ion-buttons>
              <ion-button (click)="cambiarEstadoComida(pedido,comida)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
        } } } }
      </div>
    </div>
    <ng-template #loading>
      <div class="contenedorLoading">
        <img src="../../../assets/img/loading.gif" alt="" />
      </div>
    </ng-template>
  </ng-container>

  <!-- Si es Cocinero -->
  <ng-container *ngIf="isCocineroProfile">
    <div *ngIf="pedidos$ | async as pedidos; else loading">
      <div class="food-list">
        @for (pedido of pedidos; track $index) { @if(pedido.comidas){
        @for(comida of pedido.comidas; track $index) { @if((comida.sector ==
        "comida" || comida.sector == "postre") && comida.estadoComida ==
        'enProceso') {
        <div class="card">
          <ion-img [src]="comida.img" [alt]="comida.nombre"></ion-img>
          <div class="card-content">
            <h3 class="title">{{comida.nombre}}</h3>
            <h3 class="subtitle">Cantidad: {{comida.cantidad}}</h3>
            <h3 class="subtitle">Estado: {{comida.estadoComida}}</h3>
            <ion-buttons>
              <ion-button (click)="cambiarEstadoComida(pedido,comida)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
        } } } }
      </div>
    </div>
    <ng-template #loading>
      <div class="contenedorLoading">
        <img src="../../../assets/img/loading.gif" alt="" />
      </div>
    </ng-template>
  </ng-container>
</ion-content>
