<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mozo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Si es Mozo -->
  <ng-container *ngIf="!isMozoProfile">
    <div *ngIf="pedidos$ | async as pedidos; else loading">
      <ul>
        <li *ngFor="let pedido of pedidos">
          <!-- <div class="test" (click)="cambiarEstadoPedido(pedido)"> -->
          <div class="test">
            <p>ID: {{ pedido.id }}</p>
            <p>Cliente: {{ pedido.cliente }}</p>
            <p>Precio Total: {{ pedido.precioTotal | currency }}</p>
            <p>Tiempo Total Estimado: {{ pedido.tiempoTotalEstimado }} mins</p>
            <p>Estado: {{ pedido.estadoPedido }}</p>
            <p>Comidas:</p>
            <ul>
              <li *ngFor="let comida of pedido.comidas">
                <p>Nombre: {{ comida.nombre }}</p>
                <p>Precio: {{ comida.precio | currency }}</p>
              </li>
            </ul>
          </div>
          <button (click)="cambiarEstadoPedido(pedido)">Confirmar pedido</button>
        </li>
      </ul>
    </div>
    <ng-template #loading>
      <p class="test">Cargando pedidos...</p>
    </ng-template>
  </ng-container>

  <!-- Si es Bartender -->
  <ng-container *ngIf="!isMozoProfile">
    <div *ngIf="pedidos$ | async as pedidos; else loading">
      <ul>
        <li *ngFor="let pedido of pedidos">
          <div class="test" (click)="cambiarEstadoPedido(pedido)">
            <p>ID: {{ pedido.id }}</p>
            <p>Cliente: {{ pedido.cliente }}</p>
            <p>Precio Total: {{ pedido.precioTotal | currency }}</p>
            <p>Tiempo Total Estimado: {{ pedido.tiempoTotalEstimado }} mins</p>
            <p>Estado: {{ pedido.estadoPedido }}</p>
            <p>Comidas:</p>
            <ul>
              <li *ngFor="let comida of pedido.comidas">
                <p>Nombre: {{ comida.nombre }}</p>
                <p>Precio: {{ comida.precio | currency }}</p>
              </li>
            </ul>
            <!-- <button (click)="cambiarEstadoPedido(pedido)">Confirmar pedido</button> -->
          </div>
        </li>
      </ul>
    </div>
    <ng-template #loading>
      <p class="test">Cargando pedidos...</p>
    </ng-template>
  </ng-container>



  <!-- Si es Cocinero -->
  <ng-container *ngIf="!isMozoProfile">
    <div *ngIf="pedidos$ | async as pedidos; else loading">
      <ul>
        <li *ngFor="let pedido of pedidos">
          <div class="test" (click)="cambiarEstadoPedido(pedido)">
            <p>ID: {{ pedido.id }}</p>
            <p>Cliente: {{ pedido.cliente }}</p>
            <p>Precio Total: {{ pedido.precioTotal | currency }}</p>
            <p>Tiempo Total Estimado: {{ pedido.tiempoTotalEstimado }} mins</p>
            <p>Estado: {{ pedido.estadoPedido }}</p>
            <p>Comidas:</p>
            <ul>
              <li *ngFor="let comida of pedido.comidas">
                <p>Nombre: {{ comida.nombre }}</p>
                <p>Precio: {{ comida.precio | currency }}</p>
              </li>
            </ul>
            <!-- <button (click)="cambiarEstadoPedido(pedido)">Confirmar pedido</button> -->
          </div>
        </li>
      </ul>
    </div>
    <ng-template #loading>
      <p class="test">Cargando pedidos...</p>
    </ng-template>
  </ng-container>
</ion-content>