.test {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
.listaPedidos {
  padding: 20px;
  height: 90%;
  overflow-y: scroll;
  .pedido-container {
    border-radius: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f67609;
    margin-bottom: 10px;
    border-bottom: #7a0c0f 5px solid;
    .spanComida {
      background-color: #7a0c0f;
      padding: 0px 3px;
      color: white;
      font-weight: 300;
    }
    i {
      margin: 0px 10px;
      padding: 10px;
      border-radius: 8px;
    }
    h1 {
      text-align: center;
      background-color: #461514;
      padding: 10px;
      border-radius: 20px 20px 20px 0px;
    }
  }
}

ion-header {
  --font-size: 40px;
  --height: 80px;
}

ion-content {
  --background: #19101e;
}
.contenedorLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.food-list {
  margin: 1rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .card {
    width: 100%;
    padding: 1.6rem 2rem;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2.5rem;
    margin-bottom: 1.5rem;

    .card-content {
      text-align: center;
      .title {
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
        color: #1d1d1d;
      }
      .subtitle {
        font-size: 1.3rem;
        font-weight: 700;
        color: #7a0c0f;
        margin-top: 0;
        sup {
          font-size: 1rem;
          margin-right: 2px;
        }
      }
      ion-buttons {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        ion-button {
          --border-radius: 100%;
          --background: #f67609;
          font-weight: 700;
          color: #fff;
          width: 40px;
          height: 40px;

          --padding-start: 0;
          --padding-end: 0;
          --padding-top: 0;
          --padding-bottom: 0;
        }
      }
    }
  }
}
