<ion-header>
  <ion-toolbar color="primary">
    @if(this.authService.currentUserSig() == null &&
    this.authService.obtenerAnonimo() == null) {
    <ion-buttons slot="secondary">
      <ion-button (click)="goLogin()"> Ingresar </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="goRegister()"> Registrar </ion-button>
    </ion-buttons>
    } @if(this.authService.currentUserSig() ||
    this.authService.obtenerAnonimo()) {
    <ion-buttons slot="primary">
      <ion-button (click)="logout()"> Salir </ion-button>
    </ion-buttons>
    }
    <ion-title>ABM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedorFull">
    <img
      class="imgLogo"
      src="../../../assets/img/splashanimated.png"
      alt="User"
    />
    <div class="contenedorBtn">
      <!-- Es Cliente Anonimo O Registrado -->
      @if(this.profile === 'cliente' || this.authService.obtenerAnonimo()) {
      <!--NO Esta en lista de espera -->
      @if(!usuarioActual?.listaDeEspera){
      <ion-button class="submit" (click)="asignarSalaDeEspera()" expand="block">
        Entrar al local
        <ion-icon slot="end" name="scan-outline"></ion-icon>
      </ion-button>
      }
      <!-- Esta en lista de espera (True) -->
      @else {
      <ion-button
        class="submit"
        expand="block"
        (click)="goRegisterMaitreAsignaMesa()"
      >
        Ir a tu mesa
      </ion-button>
      }
      <!--
      <ion-button color="secondary" (click)="goEncuestas()" class="submit" expand="full">
        Encuesta
      </ion-button>
      -->
      <ion-button
        color="secondary"
        (click)="goGraficos()"
        class="submit"
        expand="full"
      >
        Encuestas Previas
      </ion-button>
      <!--
      <ion-button color="secondary" (click)="goCuenta()" class="submit" expand="full">
        Cuenta
      </ion-button>
      -->
      }
      <!-- Es Mozo -->
      @if(this.profile === 'mozo'){
      <ion-button expand="block" (click)="goChat()"> Chat Clientes </ion-button>
      <ion-button
        color="secondary"
        (click)="goConfirmarPago()"
        class="submit"
        expand="full"
      >
        Pendiente de pago
      </ion-button>
      <ion-button expand="block" (click)="goMozos()">
        Ir a Lista de Pedidos
      </ion-button>
      }
      <!-- Es Maitre -->
      @if(this.profile === 'maitre') {
      <ion-button expand="block" (click)="goRegisterMaitreAsignaMesa()">
        Asignar Mesa
      </ion-button>
      }
      <!-- Es Admin -->
      @if(this.profile === 'dueno' || this.profile === 'supervisor') {
      <ion-button expand="block" (click)="goAdminClientes()">
        Administrar Clientes
      </ion-button>
      }

      <!-- Es Cocinero -->
      @if(this.profile === 'cocinero'){
      <ion-button expand="block" (click)="goMozos()">
        Ir a la cocina
      </ion-button>
      <ion-button expand="block" (click)="goAltaProducto()">
        Crear Plato
      </ion-button>
      }

      <!-- Es Bartender -->
      @if(this.profile === 'bartender'){
      <ion-button expand="block" (click)="goMozos()"> Ir al bar </ion-button>
      <ion-button expand="block" (click)="goAltaProducto()">
        Crear Plato
      </ion-button>
      }
    </div>
  </div>
</ion-content>
